#main-title {
    text-align: center;
    font-size: 50px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: black;
}

#all {
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: black;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

#myName {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    font-size: 100px;
}